:root {
  --forest-green: #2d712f;
  --sunset-orange: #E1530B;
  --sunshine-yellow: #F3AE07;
  --farmyard-brown: #5B3B23;
  --wheat-field: #f8dab0;
  --rounded-block-font: 'Caprasimo', serif;
  --handwriting-font: 'Caveat', sans-serif;

}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--wheat-field);
  background-image: url('/src/assets/images/paper-background.webp'), url('/src/assets/images/flower-corner.png');
  background-position: top left, 30px 30px, right 30px center;
  background-repeat: repeat, no-repeat;

  font-family: var(--handwriting-font), sans-serif;

  nav {
    padding: 2rem;
    color: var(--sunset-orange);

    ul {
      font-family: var(--rounded-block-font), serif;
      text-transform: uppercase;
      display: flex;
      justify-content: flex-end;
      gap: 2rem;

      li {
        list-style-type: none;
        font-size: 1.2rem;
      }
    }
  }

  // End of nav

  main {
    position: relative;

    section {
      text-align: start;
      max-width: 850px;
      margin-inline: auto;
      margin-block-end: 6rem;
    }

    header {
      text-align: center;
    }

    img {
      border-radius: 7px;
    }

    h1 {
      color: var(--forest-green);
      font-family: 'Caprasimo', serif;
      text-transform: uppercase;
      font-size: 3rem;
      text-align: center;

      &::before:not(.invite),
      &::after:not(.invite) {
        content: "";
        display: inline-block;
        width: 35px;
        height: 35px;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &::before {
        background-image: url("/src/assets/images/main-flower-yellow.png");
        margin-inline-end: 1rem;
      }

      &::after {
        background-image: url("/src/assets/images/main-flower-orange.png");
        margin-inline-start: 1rem;
      }
    }

    h1.invite {
      font-size: 4rem;
      line-height: 4rem;
      color: var(--farmyard-brown);

      span.sub-text {
        display: block;
        font-size: 2.25rem;
      }

      span.invitation-text {
        display: block;
        font-size: 4rem;
        color: var(--forest-green);

        &::before,
        &::after {
          content: "";
          display: inline-block;
          width: 60px;
          height: 60px;
          background-size: contain;
          background-repeat: no-repeat;
        }

        &::before {
          background-image: url("/src/assets/images/firework-left.png");
          margin-inline-end: 1rem;
        }

        &::after {
          background-image: url("/src/assets/images/firework-right.png");
          margin-inline-start: 1rem;
        }
      }
    }

    h2 {
      font-family: var(--handwriting-font);
      font-size: 2rem;
      margin-block-start: 0.25rem;
      margin-block-end: 3rem;
    }

    h3 {
      font-family: var(--rounded-block-font);
      color: var(--forest-green);
      text-transform: uppercase;
      font-size: 2rem;
    }

    // Home specific styles

    .nick-monty-gif {
      max-width: 525px;
      margin-inline: auto;
      margin-block: 3rem;
      border-radius: 10px;
    }

    .event-details {
      font-family: var(--handwriting-font), sans-serif;
      text-align: center;
      font-size: 2.25rem;
      line-height: 1.25rem;

      .date {
        font-weight: 800;
        color: var(--forest-green);
      }

      .rsvp {
        font-weight: 800;
      }

      a {
        font-weight: 800;
        color: var(--sunset-orange);
        text-underline-offset: 6px;
      }
    }

    p {
      font-size: 1.75rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 1.75rem;
        position: relative;
        padding-inline-start: 30px;
      }
    }

    li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.4em;
      width: 20px;
      height: 20px;
      background: url('/src/assets/images/main-flower-orange.png') no-repeat center;
      background-size: contain;
    }

    .hills,
    .bush {
      position: absolute;
      z-index: -2;
      opacity: 30%;
      max-width: 250px;
    }

    .hills {
      bottom: -40px;
      left: 80px;
    }

    .bush {
      bottom: -20px;
      right: 80px;
    }

  }

  // End of main

  // Schedule

  .schedule {
    columns: 2;

    .schedule_item {
      text-align: center;
      margin-block-end: 1rem;

      p {
        margin: 0;
      }

      .schedule_time {
        color: var(--sunset-orange);
        font-family: var(--rounded-block-font);
      }

      img {
        margin-inline: auto;
      }
    }
  }

  // End of Schedule

  // What to wear

  .image-wrapper {
    position: relative;

    .surprise-text {
      opacity: 0;
      transition: opacity 0.6s ease;
      position: absolute;
      bottom: 0;
      right: -1rem;
      color: white;
      background-color: var(--sunset-orange);
      padding-inline: 2rem 3rem;
      font-size: 3rem;
      margin: 0;
      transform: rotate(5deg);
    }

    #surprise-text.visible {
      opacity: 1;
    }
  }

  .inspo-gallery {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    margin-block: 2rem;

    .wrestler {
      grid-row-start: 1;
      grid-row-end: 3;
      transform: rotate(-7.8deg);
    }

    .truck {
      transform: rotate(1.5deg);
    }

    .band {
      transform: rotate(4.3deg);
    }
  }

  // Accommodation & Travel



  footer {
    position: relative;
    padding: 4rem 1rem;
    text-align: center;
    background-color: var(--forest-green);

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 40px;
      background: url("/src/assets/images/footer-edging-halved.png") repeat-x;
    }

    img.flower-bar {
      margin-inline: auto;
      margin-block-end: 1rem;
    }

    a {
      color: var(--wheat-field);
      font-size: 1.75rem;
      letter-spacing: 0.1rem;
    }
  }

}