:root {
  --forest-green: #2d712f;
  --sunset-orange: #E1530B;
  --sunshine-yellow: #F3AE07;
  --farmyard-brown: #5B3B23;
  --wheat-field: #f8dab0;
  --rounded-block-font: 'Caprasimo', serif;
  --handwriting-font: 'Caveat', sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--wheat-field);
  background-image: url('/images/paper-background.webp'), url('/images/flower-corner.png');
  background-position: top left, 30px 30px, right 30px center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, auto;
  font-family: var(--handwriting-font), sans-serif;

  // Navigation

  nav {

    ul {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem;

      li {
        display: block;
        list-style-type: none;
        font-size: 1.2rem;

        a {
          color: var(--sunset-orange);
          font-family: var(--rounded-block-font), serif;
          text-transform: uppercase;
        }
      }
    }
  }

  @media screen and (width < 500px) {
    nav {
      padding-block: 2rem 0rem;

      ul {
        display: grid;
        gap: 1.5rem;
        padding-block: 2rem 1rem;
        ;

        li {
          text-align: end;
        }
      }


    }

  }

  // End of navigation

  main {
    position: relative;

    section {
      text-align: start;
      max-width: 850px;
      margin-inline: auto;
      margin-block-end: 6rem;
      padding-inline: 1rem;


      a {
        color: var(--sunset-orange)
      }

    }

    header {
      text-align: center;
    }

    img {
      border-radius: 7px;
    }

    h1 {
      font-size: clamp(1.5rem, 5vw + 1rem, 3rem);
      color: var(--forest-green);
      font-family: 'Caprasimo', serif;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;

      &::before:not(.invite),
      &::after:not(.invite) {
        content: "";
        display: inline-block;
        width: 35px;
        height: 35px;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &::before {
        background-image: url("/images/main-flower-yellow.png");
        margin-inline-end: 1rem;
      }

      &::after {
        background-image: url("/images/main-flower-orange.png");
        margin-inline-start: 1rem;
      }

    }


    h1.invite {
      color: var(--farmyard-brown);

      span.sub-text {
        display: block;
        font-size: 2.25rem;
        margin-block: 0.25rem 1rem;
      }

      span.invitation-text {
        display: block;
        font-size: 4rem;
        color: var(--forest-green);

        &::before,
        &::after {
          content: "";
          display: inline-block;
          width: 60px;
          height: 60px;
          background-size: contain;
          background-repeat: no-repeat;
        }

        &::before {
          background-image: url("/images/firework-left.png");
          margin-inline-end: 1rem;
        }

        &::after {
          background-image: url("/images/firework-right.png");
          margin-inline-start: 1rem;
        }
      }
    }

    h2 {
      font-size: clamp(1.25rem, 4vw + 0.5rem, 2.5rem);
      font-family: var(--handwriting-font);
      margin-block-start: 0.25rem;
      margin-block-end: 3rem;
    }

    h3 {
      font-size: clamp(1rem, 3vw + 0.5rem, 2rem);
      font-family: var(--rounded-block-font);
      color: var(--forest-green);
      text-transform: uppercase;
    }

    // Resize fonts for mobile
    @media screen and (width < 790px) {

      h1.invite {
        margin-block-start: 1rem;

        span.invitation-text {

          &::before,
          &::after {
            display: none;
          }
        }
      }
    }

    // Home specific styles

    .nick-monty-gif {
      max-width: 80%;
      display: block;
      margin-inline: auto;
      margin-block: 3rem;
      border-radius: 10px;
    }

    .event-details {
      font-family: var(--handwriting-font), sans-serif;
      text-align: center;
      font-size: 2.25rem;
      line-height: 1.25rem;

      .date {
        font-weight: 800;
        color: var(--forest-green);
      }

      .rsvp {
        font-weight: 800;
        margin-block-start: 4rem;

        a {
          background-color: var(--sunset-orange);
          color: var(--wheat-field);
          padding: 0.5rem 2rem;
          border-radius: 50px;
          text-decoration: none;
        }
      }

      a {
        font-weight: 800;
        color: var(--sunset-orange);
        text-underline-offset: 6px;
      }
    }

    @media screen and (width < 500px) {
      .event-details {
        line-height: 2rem;
      }
    }

    p {
      font-size: 1.75rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 1.75rem;
        position: relative;
        padding-inline-start: 30px;
      }
    }

    li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.4em;
      width: 20px;
      height: 20px;
      background: url('/images/main-flower-orange.png') no-repeat center;
      background-size: contain;
    }

    .hills,
    .bush {
      position: absolute;
      z-index: -2;
      opacity: 20%;
      max-width: 250px;
    }

    .hills {
      bottom: -40px;
      left: 80px;
    }

    .bush {
      bottom: -20px;
      right: 80px;
    }

    // Hide bush on mobile
    @media screen and (width < 768px) {
      .hills {
        opacity: 20%;
      }

      .bush {
        display: none;
      }
    }

  }

  // End of main

  // Schedule

  .schedule {

    .schedule_item {
      text-align: center;
      margin-block-end: 2rem;

      p {
        margin: 0;
      }

      .schedule_time {
        color: var(--sunset-orange);
        font-family: var(--rounded-block-font);
      }

      img {
        margin-inline: auto;
        margin-block: 1.75rem 1rem;
      }
    }
  }

  @media screen and (width < 500px) {
    .schedule {
      columns: 1;
    }
  }

  // End of Schedule

  // What to wear

  .image-wrapper {
    position: relative;

    .surprise-text {
      opacity: 0;
      transition: opacity 0.6s ease;
      position: absolute;
      bottom: 0;
      right: -1rem;
      background-color: var(--sunset-orange);
      padding-inline: 2rem;
      font-size: 3rem;
      margin: 0;
      transform: rotate(5deg);
      border-radius: 5px;
    }

    #surprise-text.visible {
      opacity: 1;
    }

    @media screen and (width < 500px) {
      .surprise-text {
        font-size: 2rem;
        padding-inline: 1rem;
      }
    }
  }

  .inspo-gallery {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    margin-block: 2rem;

    .wrestler {
      grid-row-start: 1;
      grid-row-end: 3;
      transform: rotate(-7.8deg);
    }

    .truck {
      transform: rotate(1.5deg);
    }

    .band {
      transform: rotate(4.3deg);
    }
  }

  // Accommodation

  h3:nth-of-type(2) {
    margin-block-start: 3rem;
  }

  // FAQs

  .faq-flower {
    margin-block: 2rem 2.5rem;
    margin-inline: auto;
  }

  footer {
    position: relative;
    padding: 4rem 1rem;
    text-align: center;
    background-color: var(--forest-green);

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 40px;
      background: url("/images/footer-edging-halved.png") repeat-x;
    }

    img.flower-bar {
      margin-inline: auto;
      display: block;
      margin-block-end: 1rem;
    }

    p {
      color: var(--wheat-field);
      font-size: 2rem;
      margin-block: 1rem;
    }

    a {
      color: var(--wheat-field);
      font-size: 1.75rem;
      letter-spacing: 0.1rem;
    }

    button {
      padding: 1rem 2rem;
      font-size: 2rem;
      border: none;
      border-radius: 50px;
      background-color: var(--wheat-field);
      color: var(--farmyard-brown);
      cursor: pointer;
      box-shadow: 6px 6px var(--farmyard-brown);
      transition: box-shadow 0.2s ease, transform 0.2s ease;

      &:active {
        box-shadow: var(--farmyard-brown);
        transform: translateY(2px);
      }
    }
  }

}

// Resize font for mobile
@media screen and (width < 1280px) {
  body {
    background-image: url('/images/paper-background.webp'), none;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: url('/images/flower-corner.png') top 30px left 30px no-repeat;
      opacity: 0.1;
      pointer-events: none;
      background-size: 300px;

    }
  }
}