---
import MainLayout from '../layouts/MainLayout.astro';
---


<MainLayout title="Nick & Montana's Wedding | FAQs">
<section>
  <header>
    <h1>FAQs</h1>
    <h2>You have questions, we have answers... mostly</h2>
  </header>

  <h3>What should I expect from the day?</h3>
  <p>We're throwing a proper, big ol' knees up to celebrate how freakin' lucky we feel to have found each other, and to say thank you to all of you who've helped make us who we are, and supported us. </p>

  <p>We won't be standing on ceremony (except for the bit with the ceremony at the start!) but after that it's all about eating, drinking, and of course dancing.</p>

  <p>As you may have clocked, we're holding it in a village hall and are doing it all ourselves, so expect less Will and Kate and more village fête.</p>

  <img class="faq-flower" src="/images/main-flower-orange.png" alt="">

  <h3>Can I bring kids?</h3>
  <p>Unfortunately not, tonight is adults only and due to the limited space in the hall, we can't accommodate children.</p>

    <img class="faq-flower" src="/images/main-flower-orange.png" alt="">

    <h3>Can I bring a plus one?</h3>

    <p>We are restricted by the size of the venue, so ask that you not bring a plus one unless specified in your email. </p>

  <img class="faq-flower" src="/images/main-flower-orange.png" alt="">

  <h3>Will the wedding be indoors or outdoors? </h3>

  <p>The village hall has both indoor and outdoor spaces. We are hoping that the sun comes out for the day, so we can enjoy the garden, but the indoor area has space, seating, restrooms and a kitchen. </p>

    <img class="faq-flower" src="/images/main-flower-orange.png" alt="">

  <h3>What should I do about gifts?</h3>

  <p>There's absolutely no need to shower us with gems and gold but if you'd like to contribute to our honeymoon, we'll be updating this site with a link before the wedding.</p>

    <img class="faq-flower" src="/images/main-flower-orange.png" alt="">

</section>
</MainLayout>

