---
import MainLayout from '../layouts/MainLayout.astro';
---


<MainLayout title="Nick & Montana's Wedding | FAQs">
<section>
  <header>
    <h1>FAQs</h1>
    <h2>You have questions, we have answers.. mostly</h2>
  </header>

  <h3>What should I expect from the day?</h3>
  <p>When we were planning the day, the idea was to bring everyone we know together as part of our relationship and for a proper, big ol' knees up. We won't be standing on ceremony (apart from the small ceremony near the start!) and we hope the day will be a relaxed one full of games, dancing, food and drink.</p>

  <p>As you may have clocked, we're holding it in a village hall and are doing a lot of it overselves, so it may be a bit rough and ready on the day but it'll have a whole lot of heart.</p>

  <img class="faq-flower" src="src/assets/images/main-flower-orange.png" alt="">

  <h3>Can I bring kids?</h3>
  <p>We're encouraging parents not to bring their children if you can find childcare. However, if you can't make suitable arrangements then we would much rather you all come, thank not be able to.</p>

  <img class="faq-flower" src="src/assets/images/main-flower-orange.png" alt="">

  <h3>What should I do about gifts?</h3>

  <p>There's absolutely no need to shower us with gems and gold but if you'd like to contribute to our honeymoon in [insert suitably awesome place here]</p>

</section>
</MainLayout>

