---
import MainLayout from '../layouts/MainLayout.astro';
---


<MainLayout title="Nick & Montana's Wedding | Wedding Gifts">
<section>
  <header>
    <h1>Wedding Gifts</h1>
    <h2>Psst! You <emphasis>really</emphasis> don't need to</h2>
  </header>

  <p>We are so unbelievably excited to celebrate with you all and feel very lucky to already have our home (viva la Chippenham!) with many beautiful things. </p>

  <p>Attending a wedding ain't cheap, from babysitters to hotels, you have all already forked out to be here so there is no expectation for gifts, but if you would like to give something a bit extra, we'd be so grateful towards something fun we can enjoy together.</p>

  <p>You can pick any of the options below, just choose an amount and leave a note attached if you would like.</p>

  <div class="gift-gallery">
        <div class="gift-gallery_tile">
      <h3>Honeymoon Adventures</h3>
      <img src="/images/waterfall.jpg" alt="A waterfall in Thailand">
      <p>For our honeymoon, we're heading to Thailand and we've got a strong adventurous spirit between the two of us. So, if you would like to send us on a waterfall hike or cookery class that would be so special. </p>
      <a href="https://monzo.me/nicholasfranciswilliams?h=aQauL7">Gift adventure</a>
    </div>
    <div class="gift-gallery_tile">
      <h3>Mini-moon nightout</h3>
      <img src="/images/devon.jpg" alt="A coastal shot of North Devon">
      <p>We are heading to North Devon for our mini-moon, so if you fancy treating us to a meal or bottle of vino, it will be the perfect moment of calm. </p>
      <a href="https://monzo.me/nicholasfranciswilliams?h=aQauL7">Gift a meal/drinks</a>
    </div>
    <div class="gift-gallery_tile">
      <h3>Send us to a gig</h3>
      <img src="/images/music_gig.jpg" alt="A live music gig">
      <p>We love seeing live music. In fact, our first night out - before we were a couple - was at a gig. So if you fancy chipping in for a ticket, we'd bloomin' love that. </p>
      <a href="https://monzo.me/nicholasfranciswilliams?h=aQauL7">Gift a gig</a>
    </div>

      <div class="gift-gallery_tile">  <p style="margin-block-start: 0;">Alternatively, you can also contribute without attaching it to a particular activity.</p>
  <a href="">Fun time money</a></div>
  </div>



</section>
</MainLayout>

