---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Nick & Montana's Wedding | Home">
  <section>
    <div class="event-welcome"><h1 class="invite">Nick & Montana <span class="sub-text">are getting married and...</span><span class="invitation-text">You're invited!</span></h1>
    <img class="nick-monty-gif" src="/images/nick-monty-slow.gif" alt="A basic stop-frame animation of Nick and Monty in the Pub"></div>
    <div class="event-details"><p class="date">Saturday, August 8th 2026</p>
    <p class="location"><a href="https://www.google.com/maps/place/Goss+Croft+Hall/@51.5273883,-2.0788883,17z/data=!3m1!4b1!4m6!3m5!1s0x48716fb0b606968b:0xbc3a5efeb1c3eb1e!8m2!3d51.5273883!4d-2.0788883!16s%2Fg%2F11bc7bqvny?entry=ttu&g_ep=EgoyMDI1MDkxNi4wIKXMDSoASAFQAw%3D%3D">Goss Croft Hall</a>, Upper Seagry, Chippenham</p>
    <p class="rsvp"><a href="https://airtable.com/appWmg6RSjxgjATTD/pagWt5AEnF27UlHNV/form" target="_blank">RSVP</a> by May 8th 2026</p></div>
  </section>
</MainLayout>