---
import MainLayout from '../layouts/MainLayout.astro';
---


<MainLayout title="Nick & Montana's Wedding | What to wear">
<section>
  <header>
    <h1>What to wear</h1>
    <h2>Looking for some inspo?</h2>
  </header>

  <div class="image-wrapper"><p class="surprise-text" id="surprise-text"><a href="https://www.imdb.com/title/tt8772262/" style="color: white" target="_blank">Just kidding!</a></p><img src="/images/midsommer-pic.jpg" alt=""></div>

  
  <p>We want you to be comfortable and ready to dance/mess around. It's August, so it's likely to be warm (c'mon British summer!) and we've got a whole hall and lots of outdoor space for you to frolic in. But also, it's a wedding, so no trackie bottoms, jeans or flipflops please.</p>
  <p>Here's a mood board for those of you who need something more to go on.</p>

  <div class="inspo-gallery">
    <img class="wrestler" src="/images/wrestler.jpg" alt="A Mexican Wrestler drinking a can of something. It's in the style of Andy Warhol pop-art and mainly consists of bright, almost gaudy pinks, yellows, oranges and blues.">
    <img class="truck" src="/images/truck.jpg" alt="An illustration of an Indian wedding truck - the main colours are reds, blues and pinks.">
    <img class="band" src="/images/band.jpg" alt="An illustration of a marching band. It's a very folky theme with many people in animal masks, a Green Man and a long floral banner.">
  </div>

  <p style="font-weight: 800;">Think colourful, bold, bright - folk festival meets Lucha Libre. We're wearing what makes us happy, so we hope you will too.</p>

</section>
</MainLayout>

