---
import MainLayout from '../layouts/MainLayout.astro';
---


<MainLayout title="Nick & Montana's Wedding | Schedule">
<section>
  <header>
    <h1>The Schedule</h1>
    <h2>Here's what to expect and when!</h2>
  </header>
  <div class="schedule">
    <div class="schedule_item">
      <p class="schedule_time">12:00 - 12:30</p>
      <p class="schedule_info">Guests arrive</p>
      <img src="/images/main-flower-yellow.png" alt="">
    </div>
    <div class="schedule_item">
      <p class="schedule_time">12:30 - 13:00</p>
      <p class="schedule_info">Wedding ceremony</p>
      <img src="/images/main-flower-yellow.png" alt="">
    </div>
    <div class="schedule_item">
      <p class="schedule_time">13:00 - 14:00</p>
      <p class="schedule_info">Drinks reception & photos</p>
      <img src="/images/main-flower-yellow.png" alt="">
    </div>
    <div class="schedule_item">
      <p class="schedule_time">14:00 - 15:00</p>
      <p class="schedule_info">Speeches</p>
      <img src="/images/main-flower-yellow.png" alt="">
    </div>
    <div class="schedule_item">
      <p class="schedule_time">15:00 - 17:00</p>
      <p class="schedule_info">Grub and mingling</p>
      <img src="/images/main-flower-yellow.png" alt="">
    </div>
    <div class="schedule_item">
      <p class="schedule_time">18:00 - 20:00</p>
      <p class="schedule_info">Folk band & organised fun</p>
      <img src="/images/main-flower-yellow.png" alt="">
    </div>
    <div class="schedule_item">
      <p class="schedule_time">20:00 - 22:00</p>
      <p class="schedule_info">Intense dance party & refuel with grub</p>
      <img src="/images/main-flower-yellow.png" alt="">
    </div>
    <div class="schedule_item">
      <p class="schedule_time">22:00 - 00:00</p>
      <p class="schedule_info">One more for the road</p>
      <img src="/images/main-flower-yellow.png" alt="">
    </div>
  </div>
</section>
</MainLayout>

