---
import MainLayout from '../layouts/MainLayout.astro';
---


<MainLayout title="Nick & Montana's Wedding | Travel & Accommodation">
<section>
  <header>
    <h1>Accommodation & Travel</h1>
    <h2>How to get here and where to rest up</h2>
  </header>

  <h3>Accommodation</h3>
  <p>Here’s a selection of hotels and BnBs in the area. We also suggest checking AirBnB for private options.</p>
  <uk>
    <ul>
      <li><a href="https://www.premierinn.com/gb/en/hotels/england/wiltshire/chippenham/chippenham.html?cid=GLBC_CHICEP">Premier Inn Chippenham</a></li>
      <li><a href="https://www.travelodge.co.uk/hotels/652/Chippenham-hotel?utm_source=google&utm_medium=GHA_Organic&utm_campaign=GHA_Chippenham&WT.tsrc=GHA_Organic">Travel Lodge Chippenham</a></li>
      <li><a href="https://www.travelodge.co.uk/hotels/85/Chippenham-Leigh-Delamere-M4-Eastbound-hotel?WT.tsrc=GHA_Organic&utm_campaign=GHA_Chippenham%20Leigh%20Delamere%20M4%20Eastbound&utm_medium=GHA_Organic&utm_source=google">Travel Lodge Leigh Delamere (M4 Services)</a></li>
      <li><a href="https://www.angel-hotel-chippenham.com/">Best Western Plus - Angel</a></li>
      <li><a href="https://www.avonlodgeseagry.co.uk/">Avon Lodge</a></li>
    </ul>
  </uk>
  <h3>Travel</h3>

  <p>Here are some taxi companies you can book with. The venue is roughly a 15 minute drive from Chippenham, so we strongly recommend you book early and make sure you have an arrival and departure taxi planned.</p>

<ul>
  <li>Chippenham Taxis -  01249 250250</li>
  <li>SA Taxis Chippenham - 07403 829836</li>
  <li>V Cars - 01249 656565</li>
</ul>

  <p>There is also a car park on site if you’re driving yourself but do please let us know via the RSVP if you’re bringing a car.</p>
  <p>Google says there is a bus to Upper Seagry from Chippenham but we wouldn’t trust that in any way, shape or form. Maybe we’ll think of a prize for anyone who can prove they successfully used to to get to the wedding.</p>


</section>
</MainLayout>

