---
import "/src/styles/global.scss"
---

<footer>
  <img class="flower-bar" src="/images/flower-bar-footer.png" alt="">
  <a class="contact-email" href="mailto:us@thenickandmonty.zone">us[at]thenickandmonty.zone</a>
</footer>