---
import "/src/styles/global.scss"
---

<footer>
  <img class="flower-bar" src="/images/flower-bar-footer.png" alt="">
<p>Have a question?</p>
<button class="show-email"
type="button"
        data-u="dXM="               
        data-d="dGhlbmlja2FuZG1vbnR5LnpvbmU="
        aria-label="Email us">
  Email us
</button>
</footer>