---
import "/src/styles/global.scss"
---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/schedule">Schedule</a></li>
    <li><a href="/outfits">What to wear</a></li>
    <li><a href="/travel-sleep">Accommodation & Travel</a></li>
    <li><a href="/faqs">FAQs</a></li>
  </ul>
</nav>