---
import weddingImage from '../assets/wedding-save-the-date-crop.jpg';
---

<h1>Nick & Montana <span>are getting Married!</span></h1>
<img class="couple" src={weddingImage.src} alt="Nick & Monty are getting married!">