---

---

<nav>
  <ul>
    <li><a href="#rsvp">RSVP</a></li>
    <li><a href="#schedule">The Schedule</a></li>
    <li><a href="#travel">Travel</a></li>
    <li><a href="#accommodation">Accommodation</a></li>
    <li><a href="#what-to-wear">What to wear</a></li>
    <li><a href="#food">Food</a></li>
    <li><a href="#gifts">Gifts</a></li>
  </ul>
</nav>


