---
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Schedule from "../components/Schedule.astro";
import Travel from "../components/Travel.astro";
import Accommodation from "../components/Accommodation.astro";
import Food from "../components/Food.astro";
import Gifts from "../components/Gifts.astro";
import Outfits from "../components/Outfits.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nick & Montana’s Wedding</title>
  </head>
  <body>
    <div id="top"></div>
    <header>
      <Nav />
    </header>

    <main>
			<Hero />
			<Schedule />
			<Food />
			<Travel />
			<Accommodation />
			<Outfits />
			<Gifts />
    </main>

    <footer>
      <a href="#top">Back to top ↑</a>
    </footer>
  </body>
</html>
